    /* CSS Override bootstrap */

    .navbar-default {
        background-color: #0071c5;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }
    body {
        padding-top: 20px;
    }
    .table>tbody>tr>td>label {
        line-height: 1.42857143;
        border-top: none;
        margin-bottom: 0;
        font-weight: normal;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    .table>thead>tr>th {
        vertical-align: middle;
    }
    .table>tbody>tr>td.firmware-id-td {
        text-align: center;
    }
    #firmware-module-name {
        background-color: #fff;
    }
    .form-control {
        padding-right: 30px;
    }
    .form-control + .glyphicon {
        position: absolute;
        right: 0;
        padding: 8px 27px;
    }
    #hcp-livefilter-list>tr>td>label {
        margin-bottom: 0px;
        font-weight: normal;
    }
    .modal-body {
        position: relative;
        padding: 0 20px;
    }
    .connected-item {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #000;
        background-color: #0071c5;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
    .connected-item:hover{
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
    .connected-hardware {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #000;
        background-color: #0071c5;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
    .connected-hardware:hover{
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
    .connected-connector {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #000;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }
    .connected-connector:hover{
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }
    .connected-peripheral {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #000;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .connected-peripheral:hover{
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }
    .device name {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #000;
        background-color: #0071c5;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
    .unconnected-item {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #ddd;
    }
    .net-line{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .net-line-button{
        margin-top: 5px;
    }
    .unconnected-item:hover {
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        margin-top: 5px;
        border: 1px solid #adadad;
        color: #333;
        background-color: #ebebeb;
    }
    .net-head{
        margin-right: -15px;
        margin-left: -15px;
    }


    /*make sure connection line align with other elements*/
    .net-row{
        padding-right: 21px;
    }

    .net-connectionpoint {
    float:left;
    /*width:650px;*/
    z-index: 10;
    }
    .net-devicename{
    float:right;
    width:360px;
    }