<!-- <div class="container"> -->
<div id="myTabContent" class="tab-content">
    <div class=" container net-container">
        <div class="row net-row show-grid net-line" style="margin-top: 8px">
            <div class="col-md-7 col-md-offset-0">
                <div class="input-group input-group-sm merged net-head">
                    <span class="input-group-addon" id="firmware-module-name">Connection Point</span>
                    <input id="fimware-livefilter-input" type="text" class="form-control">
                    <span class="input-group-addon" id="firmware-module-name">Filter</span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-0">
                <div class="input-group input-group-sm merged net-head">
                    <span class="input-group-addon" id="firmware-module-name">Device Name</span>
                    <input id="fimware-livefilter-input" type="text" class="form-control">
                    <span class="input-group-addon" id="firmware-module-name">Filter</span>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-0">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;Modify
                </button>
            </div>
        </div>


        {% for item in net_tree %}
            <li> {{item}}</li>
            
        {% endfor %}
        
        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 connected-item">
              <div class="net-connectionpoint">Memory -- Memory</div>
              <div class="net-devicename">Winbond W25Q32FV 32Mb SPI flash</div>
            </div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 connected-item">SPI ~~~~~~~~~~~~ SPI, Bom Module20</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-0 connected-item">SPI ~~~~~~~~~~~~ Board, Bom Module11</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-0 connected-item">SDV0 ~~~~~~~~~~~~ Board, Bom Module13</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 connected-item">MEMORY</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-10 col-md-offset-1 connected-item">GPIO1</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-9 col-md-offset-2 connected-item">.col-md-6 .col-md-offset-3</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-8 col-md-offset-3 connected-item">.col-md-6 .col-md-offset-3</div>
            <div class="col-md-1 col-md-offset-0">
                <div class="btn-group net-line-button">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        Remove
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-10 col-md-offset-1 unconnected-item">
                LVDS
            </div>
            <div class="col-md-1 col-md-offset-0">
                <button type="button" class="btn btn-default btn-xs net-line-button">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 unconnected-item">JTAG</div>
            <div class="col-md-1 col-md-offset-0">
                <button type="button" class="btn btn-default btn-xs net-line-button">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 unconnected-item">Audio</div>
            <div class="col-md-1 col-md-offset-0">
                <button type="button" class="btn btn-default btn-xs net-line-button">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <div class="row net-row show-grid net-line">
            <div class="col-md-11 col-md-offset-0 unconnected-item">PCIE0</div>
            <div class="col-md-1 col-md-offset-0">
                <button type="button" class="btn btn-default btn-xs net-line-button">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>
