{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}UBMS Web{% endblock %} {% block page_content %}
<div class="jumbotron">
    <h1>UBMS Web</h1>
    <p class="lead">Intel® UBMS is a complete Integrated Development Environment (IDE) that provides a highly visual and automated framework to accelerate the development of the most complex embedded systems and applications</p>
    <p><a class="btn btn-lg btn-success" href="{{url_for('main.project')}}" role="button">Get started</a>
    </p>

</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Automatic Dependency and Compatibility Checking</h2>
        <p>Intel® UBMS provides the automatic module dependency and compatibility checking according to user requirement and selected components. What’s more, it can intelligently filter and combine various associated modules to ensure the reliability and availability of target customized firmware</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Complete Support Library of Binary Components and Drivers</h2>
        <p>Intel® UBMS effectively eliminates the need for source code and compiler environment in the legacy embedded development. Its advanced user-mode supports detailed configuration and creation of firmware components for custom hardware and allows optimized firmware image for multiple feature sets. Based on this kind of framework, the 3rd party hardware device vendor can directly publish their latest device driver in binary format, which largely helps to protect their intellectual property and competitive advantage.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details</a>
        </p>

    </div>
    <div class="col-lg-4">
        <h2>Industrial Standard Compatibility</h2>
        <p>The explosive growth of intelligent devices and internet of things brings the ecosystem diversity of the embedded industry. UEFI firmware is an industrial standardized software component built-in the platform to initialize and configure the hardware, and boot up to the Operating System.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a>
        </p>
    </div>
</div>
{% endblock %}
